Source: process-media
Section: graphics
Priority: optional
Maintainer: Laurent Lavaud <l.lavaud@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://llavaud.github.io/process-media
Vcs-Git: git@github.com:llavaud/process-media.git
Vcs-Browser: https://github.com/llavaud/process-media

Package: process-media
Architecture: all
Depends: ${perl:Depends}, perl (>=5.10), jpeginfo, libimage-exiftool-perl, libimage-magick-perl, libmime-types-perl, libsys-cpu-perl, libterm-readkey-perl, libyaml-tiny-perl
Description: A photo and video processing script
 This script will process (resize, compress...) photos and videos according to the specified options.
